# Tutoriel n°2 : Initiation à Pandas<br>
## Et Spectral Coclustering

## A : Importation du module pandas
<img src="Captures\pandas_logo.png" width=300>

In [1]:
import pandas as pd

## B : Importation des données
#### Depuis un fichier excel

Nous allons importer le fichier "Box_votes_avectotaux.xlsx", qui contient 169 idées, notées sur 6 critères.

Importation des données

In [2]:
Donnees = pd.read_excel("Box_votes_avectotaux.xlsx")

In [3]:
Donnees

,Idea number,RSE,Succès client,Pro & GP,Innovant,Urgent,Services tiers,Somme,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,1,NaN,3.000000,3.000000,7.00000,1.000000,1,15.0,NaN,NaN,2.5
1,2,2.000000,2.000000,4.000000,5.00000,1.000000,2,16.0,NaN,NaN,2.66667
2,3,NaN,2.000000,4.000000,1.00000,5.000000,3,15.0,NaN,NaN,2.5
3,4,1.000000,5.000000,1.000000,NaN,NaN,9,16.0,NaN,NaN,2.66667
4,5,NaN,6.000000,1.000000,NaN,2.000000,6,15.0,NaN,NaN,2.5
...,...,...,...,...,...,...,...,...,...,...,...
170,somme====,377.000000,425.000000,424.000000,398.00000,261.000000,561,NaN,2446.000000,407.666667,NaN
171,NaN,NaN,NaN,NaN,NaN,NaN,MAX,18.0,NaN,NaN,NaN
172,NaN,NaN,NaN,NaN,NaN,NaN,MIN,7.0,NaN,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.473373,NaN,NaN
174,moyennes==,2.230769,2.514793,2.508876,2.35503,1.544379,3.31953,NaN,NaN,NaN,NaN

## C : Prétraitement des données

Sélection des 6 colonnes et des 169 lignes correspondantes à nos idées :

In [4]:
Donnees = Donnees.iloc[:169,1:7]
Donnees

     RSE  Succès client  Pro & GP  Innovant  Urgent Services tiers
0    NaN            3.0       3.0       7.0     1.0              1
1    2.0            2.0       4.0       5.0     1.0              2
2    NaN            2.0       4.0       1.0     5.0              3
3    1.0            5.0       1.0       NaN     NaN              9
4    NaN            6.0       1.0       NaN     2.0              6
..   ...            ...       ...       ...     ...            ...
164  3.0            3.0       1.0       NaN     8.0            NaN
165  1.0            NaN       1.0       NaN     1.0             10
166  7.0            NaN       NaN       NaN     NaN              4
167  5.0            4.0       NaN       1.0     NaN              2
168  6.0            1.0       1.0       2.0     NaN              5

[169 rows x 6 columns]

Changement des valeures <i>NaN</i> par des 0.

In [5]:
Donnees = Donnees.fillna(value=0)
Donnees.head()

   RSE  Succès client  Pro & GP  Innovant  Urgent  Services tiers
0  0.0            3.0       3.0       7.0     1.0               1
1  2.0            2.0       4.0       5.0     1.0               2
2  0.0            2.0       4.0       1.0     5.0               3
3  1.0            5.0       1.0       0.0     0.0               9
4  0.0            6.0       1.0       0.0     2.0               6

Division de chaque idée par la somme de ses votes

In [6]:
DonneesDiv = Donnees.div(Donnees.sum(axis=1),axis=0)
DonneesDiv.head()

      RSE  Succès client  Pro & GP  Innovant    Urgent  Services tiers
0  0.0000       0.200000  0.200000  0.466667  0.066667        0.066667
1  0.1250       0.125000  0.250000  0.312500  0.062500        0.125000
2  0.0000       0.133333  0.266667  0.066667  0.333333        0.200000
3  0.0625       0.312500  0.062500  0.000000  0.000000        0.562500
4  0.0000       0.400000  0.066667  0.000000  0.133333        0.400000

Notes par idée allant de 0 à 1

<img src="division.png" height="350" width="350">

In [7]:
#Soustraction par le minimum de chaque ligne,
#on passe de [min,max] à [0,max-min]
Donnees_normalisees = DonneesDiv.sub(DonneesDiv.min(axis=1),axis=0)

In [8]:
#Division par le maximum de chaque ligne,
#on passe de [0,max] à [0,1]
Donnees_normalisees = Donnees_normalisees.div(Donnees_normalisees.max(axis=1),axis=0)

Notes par idée allant de 0 à 1

In [9]:
Donnees_normalisees = (DonneesDiv-DonneesDiv.min())/(DonneesDiv.max()-DonneesDiv.min())

In [10]:
print("Données Normalisées :")
Donnees_normalisees.head()

Données Normalisées :

        RSE  Succès client  Pro & GP  Innovant    Urgent  Services tiers
0  0.000000       0.283333  0.280000  0.641667  0.111111        0.072222
1  0.134615       0.177083  0.350000  0.429688  0.104167        0.135417
2  0.000000       0.188889  0.373333  0.091667  0.555556        0.216667
3  0.067308       0.442708  0.087500  0.000000  0.000000        0.609375
4  0.000000       0.566667  0.093333  0.000000  0.222222        0.433333

## D : Spectral Co-clustering

### SciKit Learn
<img src="Captures\sklearn_logo.png" width=300>

Importation de sklearn

In [11]:
from sklearn.cluster import SpectralCoclustering

Détermination du nombre de clusters

In [12]:
N_clusters=10

Clustering

In [13]:
clustering = SpectralCoclustering(n_clusters=N_clusters, random_state=0).fit(Donnees_normalisees)

In [14]:
clustering.row_labels_

array([1, 1, 7, 2, 8, 8, 4, 1, 4, 8, 1, 1, 3, 9, 9, 4, 1, 4, 1, 5, 9, 7,
       4, 5, 5, 3, 3, 5, 1, 5, 5, 1, 1, 8, 3, 5, 2, 9, 6, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 8, 8, 2, 1, 1, 1, 1, 1, 2, 3, 5, 3, 1, 1, 5, 3, 3, 4,
       5, 7, 7, 4, 4, 4, 4, 1, 5, 3, 1, 9, 1, 3, 8, 1, 1, 4, 4, 4, 9, 9,
       0, 5, 8, 6, 8, 2, 6, 2, 2, 2, 6, 2, 1, 2, 2, 6, 6, 2, 6, 2, 2, 3,
       2, 0, 1, 2, 6, 3, 2, 0, 3, 2, 2, 2, 2, 2, 9, 2, 2, 3, 5, 0, 6, 3,
       2, 2, 2, 4, 7, 1, 9, 7, 0, 6, 4, 7, 0, 7, 8, 6, 0, 3, 6, 0, 8, 5,
       4, 0, 7, 0, 0, 7, 8, 0, 1, 1, 7, 2, 0, 9, 6], dtype=int32)

## E : Centres des clusters

Idées du cluster n°4

In [15]:
Donnees_normalisees.loc[clustering.row_labels_==4]

          RSE  Succès client  Pro & GP  Innovant    Urgent  Services tiers
6    0.000000       0.000000  0.381818  0.375000  0.757576        0.000000
8    0.269231       0.088542  0.262500  0.343750  0.416667        0.000000
15   0.067308       0.000000  0.875000  0.085938  0.312500        0.067708
17   0.071795       0.094444  0.560000  0.091667  0.555556        0.072222
22   0.430769       0.188889  0.373333  0.091667  0.222222        0.000000
65   0.067308       0.000000  0.175000  0.601562  0.520833        0.067708
69   0.307692       0.101190  0.400000  0.098214  0.476190        0.000000
70   0.000000       0.354167  0.787500  0.085938  0.208333        0.000000
71   0.089744       0.118056  0.466667  0.343750  0.416667        0.000000
72   0.153846       0.202381  0.200000  0.196429  0.476190        0.154762
83   0.071795       0.188889  0.466667  0.275000  0.444444        0.000000
84   0.384615       0.101190  0.300000  0.196429  0.357143        0.000000
85   0.153846       0.202381  0.200000  0.294643  0.476190        0.077381
135  0.000000       0.094444  0.560000  0.275000  0.444444        0.072222
142  0.000000       0.088542  0.787500  0.000000  0.416667        0.135417
154  0.215385       0.141667  0.280000  0.275000  0.500000        0.000000

Moyenne des idées : Centre du cluster n°4

In [16]:
Donnees_normalisees.loc[clustering.row_labels_==4].mean()

RSE               0.142708
Succès client     0.122799
Pro & GP          0.442249
Innovant          0.226874
Urgent            0.437601
Services tiers    0.040464
dtype: float64

Concaténation des centres des 10 clusters

In [17]:
#On a donc les 10 centres des clusters définis en 6 dimensions dans la table centers.
centers=pd.concat([Donnees_normalisees.loc[clustering.row_labels_==i].mean() 
                   for i in range(N_clusters)],axis=1)
centers

,0,1,2,3,4,5,6,7,8,9
RSE,0.784006,0.028719,0.042690,0.062149,0.142708,0.069058,0.364664,0.076484,0.055449,0.392063
Succès client,0.078678,0.263022,0.198700,0.097472,0.122799,0.486245,0.064427,0.225583,0.759546,0.352345
Pro & GP,0.050940,0.274239,0.137580,0.503088,0.442249,0.273975,0.189068,0.229062,0.121168,0.144251
Innovant,0.076997,0.581379,0.052751,0.207897,0.226874,0.155823,0.138207,0.080541,0.150949,0.209366
Urgent,0.063736,0.090874,0.027957,0.128546,0.437601,0.401894,0.009158,0.774781,0.084048,0.094797
Services tiers,0.092983,0.123976,0.722248,0.309631,0.040464,0.046025,0.406086,0.089574,0.179403,0.081300

Transposition du tableau

In [18]:
centers=centers.transpose()
centers

        RSE  Succès client  Pro & GP  Innovant    Urgent  Services tiers
0  0.784006       0.078678  0.050940  0.076997  0.063736        0.092983
1  0.028719       0.263022  0.274239  0.581379  0.090874        0.123976
2  0.042690       0.198700  0.137580  0.052751  0.027957        0.722248
3  0.062149       0.097472  0.503088  0.207897  0.128546        0.309631
4  0.142708       0.122799  0.442249  0.226874  0.437601        0.040464
5  0.069058       0.486245  0.273975  0.155823  0.401894        0.046025
6  0.364664       0.064427  0.189068  0.138207  0.009158        0.406086
7  0.076484       0.225583  0.229062  0.080541  0.774781        0.089574
8  0.055449       0.759546  0.121168  0.150949  0.084048        0.179403
9  0.392063       0.352345  0.144251  0.209366  0.094797        0.081300

## F : Enregistrement pour la suite

Ajout de la colonne 'Cluster'

In [19]:
Donnees_normalisees['Cluster']=clustering.row_labels_
Donnees_normalisees.head()

,RSE,Succès client,Pro & GP,Innovant,Urgent,Services tiers,Cluster
0,0.000000,0.283333,0.280000,0.641667,0.111111,0.072222,1
1,0.134615,0.177083,0.350000,0.429688,0.104167,0.135417,1
2,0.000000,0.188889,0.373333,0.091667,0.555556,0.216667,7
3,0.067308,0.442708,0.087500,0.000000,0.000000,0.609375,2
4,0.000000,0.566667,0.093333,0.000000,0.222222,0.433333,8

Enregistrement

In [20]:
centers.to_excel("Centers.xlsx")
Donnees_normalisees.to_excel("Données normalisées.xlsx")

Résultat :<br>
<img src="Captures\fichiers.png">

### Bonus : en savoir plus

Plusieurs sites sont disponibles :
- En Anglais :
    - Documentation de Pandas : <br>
    http://pandas.pydata.org/pandas-docs/stable/
    - Documentation de sklearn : <br>
    https://scikit-learn.org/stable/documentation.html
- En Français :
    - Tutoriel Pandas : <br>
    http://www.python-simple.com/python-pandas/panda-intro.php